<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel-body">
  <div class="field">
    <p><h4>To qualify for this exciting opportunity please fill out the form below.</h4></p><br>
    <%= f.label :firstname, "First Name" %><br>
    <%= f.text_field :firstname, class: "form-control input-lg" %>
    <%= f.label :lastname, "Last Name" %><br>
    <%= f.text_field :lastname, class: "form-control input-lg" %>
  </div>
  <div class="field">
    <%= f.label :email, "Email Address" %><br>
    <%= f.text_field :email, class: "form-control input-lg" %>
  </div>
  <div class="field">
    <%= f.label :birthday, "Birthday (Must Be 18)" %><br>
    <%= f.date_select :birthday,  {order: [:month, :day, :year], 
                                    prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, 
                                    start_year: Date.today.year - 18, end_year: Date.today.year - 100}, class: "form-control date-select input-lg" %>
  </div>
    <div class="field">
    <%= f.label :phonesvc, "Do you have a smartphone?" %><br>
    <%= f.text_field :phonesvc, {class: "form-control input-lg"} unless @applicant.new_record? %>
    <%= f.select :phonesvc, options_for_select([['Yes','Yes'],['No','No']]), {:include_blank => @applicant.phonesvc}, {class: "form-control input-lg"} if @applicant.new_record? %>
  </div>
  <div class="field">
    <%= f.label :phone, "Phone Number (FORMAT ###-###-####)" %><br>
    <%= f.text_field :phone, class: "form-control input-lg" %>
  </div>
  <div class="field">
    <%= f.label :internet, "Do you have high speed internet?" %><br>
    <%= f.text_field :internet, {class: "form-control input-lg"} unless @applicant.new_record? %>
    <%= f.select :internet, options_for_select([['Yes','yes'],['No','no']]), {:include_blank => @applicant.internet}, {class: "form-control input-lg"} if @applicant.new_record? %>
  </div>
  <div class="field">
    <%= f.label :skypehandle, "Skype Username (Optional)" %><br>
    <%= f.text_field :skypehandle, class: "form-control input-lg" %>
  </div>
    <div class="field">
    <%= f.label :adis, "CraigsList Ad ID (Found on original CraigsList AD and email sent to you.)" %><br>
    <%= f.text_field :adid, class: "form-control input-lg" %>
  </div>
  <div class="field">
    <%= f.label :process, "Application Process" unless @applicant.new_record? %><br>
    <%= f.text_field :process, {:value => "prescreen" } if @applicant.new_record? %>
    <%= f.select :process, options_for_select([['Prescreen','prescreen'],['Application','application'],['Part 1','part1'],['Part 2','part2'],['Approved','approved']]), {:include_blank => @applicant.process }, {class: "form-control input-lg"} unless @applicant.new_record? %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Form", class: "button" %>
  </div>
<% end %>
</div>
