<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname, "First Name" %><br>
    <%= f.text_field :firstname, class: "form-control input-lg" %>
    <%= f.label :lastname, "Last Name" %><br>
    <%= f.text_field :lastname, class: "form-control input-lg" %>
  </div>
  <div class="field">
    <%= f.label :email, "Email Address" %><br>
    <%= f.text_field :email, class: "form-control input-lg" %>
  </div>
  <div class="field">
    <%= f.label :birthday, "Birthday (Must Be 18)" %><br>
    <%= f.date_select :birthday,  {order: [:month, :day, :year], 
                                    prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, 
                                    start_year: Date.today.year - 18, end_year: Date.today.year - 100}, class: "form-control date-select input-lg" %>
  </div>
  <div class="field">
    <%= f.label :phone, "Phone Number - FORMAT 555-555-5555" %><br>
    <%= f.text_field :phone, class: "form-control input-lg" %>
  </div>
  <div class="field">
    <%= f.label :internet, "Do you have high speed internet?" %><br>
    <%= f.select :internet, options_for_select([['Yes','yes'],['No','no']]), {:include_blank => true}, {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :skypehandle, "Skype Username (Optional)" %><br>
    <%= f.text_field :skypehandle, class: "form-control input-lg" %>
  </div>
    <div class="field">
    <%= f.label :adis, "CraigsList Ad ID (Found on original CraigsList AD and email sent to you)" %><br>
    <%= f.text_field :adid, class: "form-control input-lg" %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-danger btn-lg' %>
  </div>
<% end %>
