<p id="notice"><%= notice %></p>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center"><h2><strong>Prescreen</strong></h2></div>
      <table class="table table-hover">
        <%= render 'display' %>
        <tbody>
        <% @applicants.each do |applicant| %>
          <% if applicant.process == "prescreen" %>
        
          <tr>
            <td><center><%= applicant.adid %></center></td>
            <td><%= applicant.firstname %></td>
            <td><%= applicant.lastname %></td>
            <td><%= mail_to applicant.email %></td>
            <td><%= applicant.birthday.to_s(:long) %></td>
            <td><center><%= applicant.phonesvc %></center></td>
            <td><%= applicant.phone %></td>
            <td><center><%= applicant.internet %></center></td>
            <td><%= applicant.internetsvc %></td>
            <td><%= applicant.skypehandle %></td>
            <td><%= link_to 'Show', applicant %></td>
            <td><center>
              <%= link_to edit_applicant_path(applicant) do %>
                <span class="glyphicon glyphicon-pencil" %></span>
              <% end %>
            </center></td>
            <td><center>
              <%= link_to applicant, method: :delete, data: { confirm: 'Are you sure? This cannot be undone!' } do %>
                <span class="glyphicon glyphicon-remove" %></span>
              <% end %>
            </center></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center"><h2><strong>Application Submitted</strong></h2></div>
      <table class="table table-hover">
        <%= render 'display' %>
        
        <tbody>
        <% @applicants.each do |applicant| %>
          <% if applicant.process == "application" %>
        
          <tr>
            <td><center><%= applicant.adid %></center></td>
            <td><%= applicant.firstname %></td>
            <td><%= applicant.lastname %></td>
            <td><%= mail_to applicant.email %></td>
            <td><%= applicant.birthday.to_s(:long) %></td>
            <td><center><%= applicant.phonesvc %></center></td>
            <td><%= applicant.phone %></td>
            <td><center><%= applicant.internet %></center></td>
            <td><%= applicant.internetsvc %></td>
            <td><%= applicant.skypehandle %></td>
            <td><%= link_to 'Show', applicant %></td>
            <td><center>
              <%= link_to edit_applicant_path(applicant) do %>
                <span class="glyphicon glyphicon-pencil" %></span>
              <% end %>
            </center></td>
            <td><center>
              <%= link_to applicant, method: :delete, data: { confirm: 'Are you sure? This cannot be undone!' } do %>
                <span class="glyphicon glyphicon-remove" %></span>
              <% end %>
            </center></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center"><h2><strong>Part One</strong></h2></div>
      <table class="table table-hover">
        <%= render 'display' %>

        <tbody>
        <% @applicants.each do |applicant| %>
          <% if applicant.process == "part1" %>
        
          <tr>
            <td><center><%= applicant.adid %></center></td>
            <td><%= applicant.firstname %></td>
            <td><%= applicant.lastname %></td>
            <td><%= mail_to applicant.email %></td>
            <td><%= applicant.birthday.to_s(:long) %></td>
            <td><center><%= applicant.phonesvc %></center></td>
            <td><%= applicant.phone %></td>
            <td><center><%= applicant.internet %></center></td>
            <td><%= applicant.internetsvc %></td>
            <td><%= applicant.skypehandle %></td>
            <td><%= link_to 'Show', applicant %></td>
            <td><center>
              <%= link_to edit_applicant_path(applicant) do %>
                <span class="glyphicon glyphicon-pencil" %></span>
              <% end %>
            </center></td>
            <td><center>
              <%= link_to applicant, method: :delete, data: { confirm: 'Are you sure? This cannot be undone!' } do %>
                <span class="glyphicon glyphicon-remove" %></span>
              <% end %>
            </center></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center"><h2><strong>Part Two</strong></h2></div>
      <table class="table table-hover">
        <%= render 'display' %>

        <tbody>
        <% @applicants.each do |applicant| %>
          <% if applicant.process == "part2" %>
        
          <tr>
            <td><center><%= applicant.adid %></center></td>
            <td><%= applicant.firstname %></td>
            <td><%= applicant.lastname %></td>
            <td><%= mail_to applicant.email %></td>
            <td><%= applicant.birthday.to_s(:long) %></td>
            <td><center><%= applicant.phonesvc %></center></td>
            <td><%= applicant.phone %></td>
            <td><center><%= applicant.internet %></center></td>
            <td><%= applicant.internetsvc %></td>
            <td><%= applicant.skypehandle %></td>
            <td><%= link_to 'Show', applicant %></td>
            <td><center>
              <%= link_to edit_applicant_path(applicant) do %>
                <span class="glyphicon glyphicon-pencil" %></span>
              <% end %>
            </center></td>
            <td><center>
              <%= link_to applicant, method: :delete, data: { confirm: 'Are you sure? This cannot be undone!' } do %>
                <span class="glyphicon glyphicon-remove" %></span>
              <% end %>
            </center></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center"><h2><strong>Approved</strong></h2></div>
      <table class="table table-hover">
        <%= render 'display' %>

        <tbody>
        <% @applicants.each do |applicant| %>
          <% if applicant.process == "approved" %>
        
          <tr>
            <td><center><%= applicant.adid %></center></td>
            <td><%= applicant.firstname %></td>
            <td><%= applicant.lastname %></td>
            <td><%= mail_to applicant.email %></td>
            <td><%= applicant.birthday.to_s(:long) %></td>
            <td><center><%= applicant.phonesvc %></center></td>
            <td><%= applicant.phone %></td>
            <td><center><%= applicant.internet %></center></td>
            <td><%= applicant.internetsvc %></td>
            <td><%= applicant.skypehandle %></td>
            <td><%= link_to 'Show', applicant %></td>
            <td><center>
              <%= link_to edit_applicant_path(applicant) do %>
                <span class="glyphicon glyphicon-pencil" %></span>
              <% end %>
            </center></td>
            <td><center>
              <%= link_to applicant, method: :delete, data: { confirm: 'Are you sure? This cannot be undone!' } do %>
                <span class="glyphicon glyphicon-remove" %></span>
              <% end %>
            </center></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center"><h2><strong>All Applicants</strong></h2></div>
      <table class="table table-hover">
        <%= render 'display' %>

        <tbody>
        <% @applicants.each do |applicant| %>
        
          <tr>
            <td><center><%= applicant.adid %></center></td>
            <td><%= applicant.firstname %></td>
            <td><%= applicant.lastname %></td>
            <td><%= mail_to applicant.email %></td>
            <td><%= applicant.birthday.to_s(:long) %></td>
            <td><center><%= applicant.phonesvc %></center></td>
            <td><%= applicant.phone %></td>
            <td><center><%= applicant.internet %></center></td>
            <td><%= applicant.internetsvc %></td>
            <td><%= applicant.skypehandle %></td>
            <td><%= link_to 'Show', applicant %></td>
            <td><center>
              <%= link_to edit_applicant_path(applicant) do %>
                <span class="glyphicon glyphicon-pencil" %></span>
              <% end %>
            </center></td>
            <td><center>
              <%= link_to applicant, method: :delete, data: { confirm: 'Are you sure? This cannot be undone!' } do %>
                <span class="glyphicon glyphicon-remove" %></span>
              <% end %>
            </center></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>    

<br>

<%= link_to 'New Applicant', new_applicant_path %>